@page "/favorites"
@inject HttpClient Http

<PageTitle>Favorites</PageTitle>

<h1>Favorites</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (favorites == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserId</th>
                <th>BookId</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var favorite in favorites)
            {
                <tr>
                    <td>@favorite.Id</td>
                    <td>@favorite.UserId</td>
                    <td>@favorite.BookId</td>
                    <td>@favorite.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Favorites[]? favorites;

    protected override async Task OnInitializedAsync()
    {
        favorites = await Http.GetFromJsonAsync<Favorites[]>("api/favorites");
    }
}
