@page "/publishers"
@inject HttpClient Http

<PageTitle>Publishers</PageTitle>

<h1>Publishers</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (publishers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Edition</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var publisher in publishers)
            {
                <tr>
                    <td>@publisher.Id</td>
                    <td>@publisher.Name</td>
                    <td>@publisher.Edition</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Publisher[]? publishers;

    protected override async Task OnInitializedAsync()
    {
        publishers = await Http.GetFromJsonAsync<Publisher[]>("api/publisher");
    }
}
