@page "/series"
@inject HttpClient Http

<PageTitle>Series</PageTitle>

<h1>Series</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (series == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var serie in series)
            {
                <tr>
                    <td>@serie.Id</td>
                    <td>@serie.Name</td>
                    <td>@serie.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Serie[]? series;

    protected override async Task OnInitializedAsync()
    {
        series = await Http.GetFromJsonAsync<Serie[]>("api/series");
    }
}
